
.hero_flex{
    display: flex;
    padding: 200px 0px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    background: url("herotest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 60px;
}

.hero_text1{
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 180px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 27px;
}
.hero_text2{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 180px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 9px;
}



.about_picture{
    width: 100%;
    height: auto;
}
h2{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.76px;

    margin-bottom: 40px;
}
h4{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.72px;
 
}

.portfoliotile{

    width: 100%;
    height: auto;
    position:relative;

}

.portfoliopng{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover; 
  display: block;

}

.portfoliopng:hover{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover; 
  
}

.portfoliotext{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-decoration: line-through;
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: 0.72px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.headermid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}


.portf-pic{
  padding: 12px;
 
  width: 100%;
 
  object-fit: cover; 
  display: block;
 }

iframe{
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
}



.hero_wedding{
  display: flex;
  padding: 225px 0px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  background: url("herowedding.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 60px;
}


/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 8px 48px;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-links a {
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.72px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}



/* LOGO */
.logo {
  font-size: 32px;
  color: #FFF;

}
.logo:hover {
  text-decoration: line-through;
  
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.nav-links a:hover{
  text-decoration: line-through;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative; 
}

.dropdown {
  background-color: #0000001c;
  padding: 1em;
  position: absolute; /*WI#0000001c;TH RESPECT TO PARENT*/
  display: none;
  top: 36px;
}
.dropdown.background-white {
  background-color: #ffffff3d;
  padding: 1em;
  position: absolute; /*WI#0000001c;TH RESPECT TO PARENT*/
  display: none;
  top: 36px;
}

.dropdown.background-white li:hover {
  background-color:#ffffff3d;
}


.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color:#0000001c;
}

.services:hover .dropdown {
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* CHECKBOX HACK */

input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
  /* OBECNE !!!!!!!!!!!!!!!!!!!!!*/ 

h2{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.76px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 16px;
}
h4{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.72px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.box{
    background-color: rgb(9, 136, 248);
    border-color: blue;

}
body{
    background-color: #000000;

}

p.textcolor-black{
  color: #000000;
  margin: 0px;
}
.textcolor-black{
  color: #000000;
  margin: 0px;
}

.container{
    margin-bottom: 60px;
}
.pad-t-b-80{
  padding-top: 80px;
  padding-bottom: 80px;
}
.pad-0{
  padding: 0px;
}
.margin-t-80{
  margin-top: 80px;
}

.background-white{
  background-color: #fff;
}

.navbar.background-white{
  background: rgb(264, 264, 264, 0.10);
}
ul.nav-links{
  margin: 0px;
  padding: 0.5rem
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
 .menu {
    display:none;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.025) 10%, rgba(0, 0, 0, 0.25) 95%);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color:#0d0d0d48;
    transition: 0.3s ease;
  }
  .menu.background-white li:hover {
    display: inline-block;
    background-color:#ffffff3d;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 35%;
    top: 8px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4e4e4e;

  }
  .dropdown.background-white li:hover {
    background-color:#ffffff3d;
  }

  .hero_text1{
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 27px;
}
.hero_text2{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 9px;
}
.logo {
  font-size: 24px;

}
.navbar{
  padding: 8px 24px;
}

}
.menu.background-white{
    display:none;
    position: absolute;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.025) 10%, rgba(255, 255, 255, 0.25) 95%);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }




/*
.nav-link{
    color: #FFF;
   
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.76px;

}

.nav-link:hover{
    color: #FFF;
    text-decoration-line:  line-through;
}

.navbar-brand{
    color: #FFF;
   
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.76px;
   

}

.navbar-brand:hover{
    color: #FFF;
   
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.76px;
    text-decoration-line:  line-through;

}
*/